@font-face {
    font-family: 'VPBank';
    src: url('../fonts/VPBank.eot');
    src: url('../fonts/VPBank.eot?#iefix') format('embedded-opentype'), url('../fonts/VPBank.woff2') format('woff2'), url('../fonts/VPBank.woff') format('woff'), url('../fonts/VPBank.ttf') format('truetype'), url('../fonts/VPBank.svg#VPBank') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Nexa';
    src: url('../fonts/SVN-NexaHeavy.eot');
    src: url('../fonts/SVN-NexaHeavy.eot?#iefix') format('embedded-opentype'), url('../fonts/SVN-NexaHeavy.woff2') format('woff2'), url('../fonts/SVN-NexaHeavy.woff') format('woff'), url('../fonts/SVN-NexaHeavy.ttf') format('truetype'), url('../fonts/SVN-NexaHeavy.svg#SVN-NexaHeavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VPBank';
    src: url('../fonts/VPBank-Bold.eot');
    src: url('../fonts/VPBank-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/VPBank-Bold.woff2') format('woff2'), url('../fonts/VPBank-Bold.woff') format('woff'), url('../fonts/VPBank-Bold.ttf') format('truetype'), url('../fonts/VPBank-Bold.svg#VPBank-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/*reset css*/

body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


.slider{
    position: relative;
    max-height: 100vh;
    max-width: 100vw;
    display: block;
    &--item{
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        } 
    }
    &-item{
        height: 100vh;
        width: 100vw;
        .img-fill{
            width: 100%;
            height: 100%;
            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
        .video-fill{
            display: flex;
            video{
                height:100%;
                width: 100%;
            }
            li{display: none;}
        }
        .slide-fill{
            width: 100vw;
            .swiper-container{
                height: 100vh !important;
            }
            .swiper-wrapper{
                position: relative;
                img{
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
            }
            .swiper-pagination-bullets{
                right: 2%;
                .swiper-pagination-bullet{
                    width: 10px;
                    height: 10px;
                    background: #0f6b42;
                }
            }
        }
    }
    &-nav{
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 0;
        width: 100%;
        min-height: 20vh;
    }
    &-thumb{
        .thumb{
            &:focus{
                outline: none;
            }
            display: flex;
            position: relative;
            &.slick-current{
                background: #effff6;
                img{
                    width: 100% !important; 
                    background: #effff6 !important;
                    margin: auto;
                    position: static !important;
                }
            }
            &.is-active{
                img{width: 100%;}
            }
            &.slick-active{
                height: 25vh;
                img{
                    height: 80%;
                    background: #fff;
                    object-fit: contain;
                    position: absolute;
                    bottom: 0;
                }
            }
            img{
                margin: auto;
                object-fit: cover;
                width: 100%;
            }
            
          
        }
    }
    &-left{
        width: 75%;
        bottom: 0;
        position: absolute;
        left: 0;
    }
    &-right{
        width: 25%;
        height: 25vh;
        bottom: 0;
        position: absolute;
        right: 0;
        .content{
            display: flex;
            flex-direction: column;
            height: 25vh;
            &--btn{
                display: flex;
                height: 5vh;
                .btn{
                    width: 50px;
                    background: #119158;
                    &:focus{
                        outline: none;
                    }
                    &:hover,
                    &:active{
                        background: #137d4e;
                    }
                    &.slick-disabled{
                        background: #0f6b42;
                    }
                    img{ 
                        margin: auto;
                    }
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                }
            }
            &--info{
                height: 100%;
                background: #139058;
                padding: 0 25px;
                display: flex;
                flex-flow: column;
                justify-content: center;
                color: #fff;
                p{
                    padding: 0;
                    margin: 0;
                }
                .title{
                    font-family: 'SVN-Nexa';
                    font-size: 24px;
                    margin-bottom: 10px;
                }
                .des{
                    font-size: 15px;
                    line-height: 23px;
                }
            }
            
        }
    }
}

@media screen and (max-width: 600px) {
    .slider-left,
    .slider-right{
        width: 50%;
    }
}